<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="SwaggerIU" />
  <link rel="icon" type="image/x-icon" href="/static/logo_minu.biz.png">
  <title>Minu.biz API Docs</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@4.4.1/swagger-ui.css" />
  <link rel="stylesheet" href="/static/minubiz-styling.css">
</head>

<body>
  <main>
    <aside>
      <header>
        <a href="https://minu.biz">
          <img src="/static/logo_minu.biz.png" alt="">
        </a>
      </header>

      <ul id="toc">
      </ul>
    </aside>

    <div id="right">
      <section>
        <h1 id="1">1. Introdução</h1>

        <p>
          O Minu.biz é uma solução tecnológica de engajamento que permite promover e melhorar o desempenho de
          produtos/serviços e
          a percepção de marcas através da aplicação dos conceitos de micro recompensas e engajamento gradual e progressivo.
        </p>
      
        <p>
          A partir do monitoramento das interações do consumidor com marcas, produtos e serviços, o Minu.biz incentiva novas
          interações de recompensas, e comportamentos específicos do consumidor.
        </p>
      </section>

      <hr />

      <section>
        <h1 id="2">2. Conceitos</h1>

        <p>
          <strong>Cliente Corporativo:</strong> Empresa que utiliza a solução tecnológica da Minu para reconhecer e recompensar seus clientes.
        </p>
        
        <p>
          <strong>Consumidor Final:</strong> Cliente do Cliente Corporativo é a pessoa que usufrui das recompensas oferecidas nas campanhas.
        </p>
        
        <p>
          <strong>Recompensas:</strong> São os prêmios disponibilizados na Plataforma Minu.biz e oferecidos para o Consumidor Final através das
          campanhas.
        </p>
        
        <p>
          <strong>Campanha:</strong> Ação de engajamento elaborada pelo Cliente Corporativo através do Minu.biz, que recompensa o Consumidor Final.
        </p>
        
        <p>
          <strong>Pedido:</strong> Solicitação realizada pelo Cliente Corporativo para a entrega de recompensa ao Consumidor Final engajado.
        </p>
        
        <p>
          <strong>Alianças:</strong> Provedores de insumos (produtos e serviços) integrados à solução tecnológica da Minu.
        </p>
      </section>

      <hr />

      <section>
        <h1 id="3">3. Descritivo Técnico</h1>

        <section class="lv1-nesting">
          <div>
            <h3 id="3.1">3.1. Integração Minu API Gateway</h3>
  
            <p>
              O Minu.biz possui uma camada de integração chamada Minu API Gateway, que utiliza API RESTful para realizar todas as
              chamadas de autenticação, criação e consulta de campanhas e envio e consulta de recompensas. Algumas dessas chamadas
              possuem suporte à comunicação criptografada através da técnica de criptografia a nível de mensagem.
            </p>
          </div>

          <div>
            <h3 id="3.2">3.2. Criptografia a nível de mensagem</h3>
            
            <p>
              Criptografia a nível de mensagem é uma técnica onde as mensagens trocadas entre duas partes são criptografadas com um
              algoritmo de criptografia assimétrico, onde as duas partes possuem as chaves necessárias para criptografar e
              descriptografar as mensagens enviadas. Isso fornece uma segurança para a comunicação, já que a criptografia acontece na
              camada de aplicação e não somente na camada de transporte.
            </p>
          </div>
        </section>
      </section>

      <hr />

      <div id="apis"></div>
    </div>
  </main>

  <script src="/static/swagger-ui-bundle.js"></script>
  <script src="/static/swagger-ui-standalone-preset.js"></script>
  <script type="module" src="/static/swagger-setup.js"></script>
</body>
</html>